*.build
*.deb
*.tar.gz
*.dsc
*.changes
*.debhelper.log
*.debhelper
*.substvars
*.o
*.swp
*.un~
*.pyc

.tern-port

node_modules/

# 1. Buil files for debian packages
# 1.1. General files
**/debian/files
**/debian/*.debhelper
**/debian/*.debhelper.log
**/debian/*.substvars

utils/debian/wb-utils/
wb-utils_*.deb
wb-utils_*.changes

# 1.2. Specify repo configs
*/debian/libmosquitto-dev/*
*/debian/libmosquitto1/*
*/debian/libmosquittopp-dev/*
*/debian/libmosquittopp1/*
*/debian/mosquitto-clients/*
*/debian/mosquitto-dbg/*
*/debian/mosquitto-dev/*
*/debian/mosquitto/*
*/debian/wb-rules-system/*
*/debian/wb-configs/*
