Source: wb-scenarios
Section: misc
Priority: optional
Maintainer: Wiren Board Team <info@wirenboard.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.5.1
Homepage: https://github.com/wirenboard/wb-scenarios
Vcs-Git: https://github.com/wirenboard/wb-scenarios

Package: wb-scenarios
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, wb-rules (>= 2.20.0~~)
Description: Scenarios for Wiren Board
 This package provides ready-to-use scripts
 to connect devices and link them together more quickly.
