# wb-scenarios-toucher.service - must be install to /etc/systemd/system/*
#
# Part of wb-scenarios package for Wiren Board controllers

[Unit]
Description=One-shot service to update scenario init files timestamps
Wants=wb-hwconf-manager.service
After=wb-hwconf-manager.service

[Service]
Type=oneshot
ExecStart=/usr/lib/wb-scenarios/wb-scenarios-toucher.sh -v

SyslogIdentifier=wb_scenarios_toucher
SyslogLevel=debug

[Install]
WantedBy=multi-user.target
