# wb-scenarios-reloader.service - must be install to /etc/systemd/system/*
#
# Part of wb-scenarios package for Wiren Board controllers

[Unit]
Description=One-shot service to reload scenario init files
Wants=wb-hwconf-manager.service
After=wb-hwconf-manager.service

[Service]
Type=oneshot
ExecStart=/usr/lib/wb-scenarios/wb-scenarios-reloader -v

SyslogIdentifier=wb_scenarios_reloader
SyslogLevel=debug

[Install]
WantedBy=multi-user.target
